<!-- ////////// HEADER START ////////// -->
<header id="header" class="header">
  <div class="header__inner">
    <span class="header__logo">
      <img src="../../../assets/logos/dome-logo.svg" alt="" />
      <!-- 
      <img [src]="theme!.branding.logoUrl"
        [attr.alt]="theme!.branding.name ? theme!.branding.name + ' logo' : 'Logo'"
        (click)="navigateHome()"
        (keydown.enter)="navigateHome()"
        tabindex="0"
        role="button"
        class="header-logo"
      /> 
      -->
    </span>
  </div>
</header>
<!-- ////////// HEADER END ////////// -->

<!-- ////////// MAIN START ////////// -->
<main>

</main>

<footer></footer>

